/* style.css */

body {
    background-color: #f8f9fa;
}

.form-container, .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #000000;
    border-radius: 5px;
    background-color: #00000017;
}

.card {
    margin-bottom: 20px;
}

.card-header {
    background-color: #007bff;
    color: white;
    text-align: center;
    border: 3px solid black;
}

.card-header h2 {
    margin: 0;
}

.card-body {
    padding: 20px;
    border: 3px solid black;
}

.form-control {
    border: 3px solid black;
    text-align: center;
}

.btn {
    width: 100%;
    margin-top: 10px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

#save {
    width: 200px;
    background-color: rgb(0, 193, 0);
    border-radius: 50px;
}

#cancel {
    width: 200px;
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 50px;
}

#supprPubli {
    width: 400px;
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 50px;
}
