.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #000000;
    border-radius: 5px;
    background-color: #00000008;
}

.form-control {
    border: 3px solid black; /* Définit la bordure à 3px solid noir */
}

.card-body {
    border: 3px solid black;
}

#save {
    width: 200px;
    background-color: rgb(0, 193, 0);
    border-radius: 50px;
}

#cancel {
    width: 200px;
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 50px;
}
