@font-face {
    font-family: "PinkChicken";
    src: url("../Fonts/PinkChicken-Regular.ttf") format("truetype");
}
body {
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family: 'PinkChicken';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../img/stormtroupLego.jpg');
    background-size:contain;
    /* background-size:cover; */
}

h1 {
    text-shadow:0 0 4px #FF0000,0 0 50px #FF0000,0px 0px 14px #FF0000, 0 0 100px #FF0000, 0 0 150px #FF0000, 0 0 150px #FF0000, 0 0 550px #CA0000, 0 0 250px #CA0000, 0 0 350px #CA0000, 0 0 250px #CA0000;color:#FFD000;
    background-color:#2E8ECE;;
    text-align: center;
    background-color: transparent;
}
main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}