.card {
    margin-bottom: 20px;
}

.card-header {
    text-align: center;
    border: 3px solid black;
}

.card-header h2 {
    margin: 0;
}

.card-body {
    padding: 20px;
    border: 3px solid black;
}

.form-container {
    width: 1000px;
    text-align: center;
}

.form-control {
    border: 3px solid black;
}

.btn {
    width: 100%;
    margin-top: 10px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.form-group select {
    text-align: center;
}


#save {
    width: 200px;
    background-color: rgb(0, 193, 0);
    border-radius: 50px;
}

#cancel {
    width: 200px;
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 50px;
}

#supprPubli {
    width: 400px;
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 50px;
}

/* Flexbox styles for centering */
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}
