@font-face {
    font-family: "PinkChicken";
    src: url("../Fonts/PinkChicken-Regular.ttf") format("truetype");
}
body {
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family: 'PinkChicken';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../img/stormtroupLego.jpg');
    background-size:contain;
    /* background-size:cover; */
}

h1 {
    text-align: center;
    font-family: 'Commissioner', sans-serif;
    font-size: 64px;
    color: #ffd6d6;
    line-height: 1;
    border-radius: 50%;
    text-transform: uppercase;
    animation: flashing 1.4s infinite alternate;
  }
      
  
  @keyframes flashing {
      0%, 18%, 21%, 32%, 35%, 39%, 42%, 100% {
        text-shadow:
          0 0 16px #f46600,
          0 0 16px #f46600,
          0 0 32px #FF0000,
          0 0 64px #FF0000,
          0 0 90px #FF0000,
          0 0 124px #FF0000;
      }
      20%, 34%, 41% {        
        text-shadow: none;
      }    
  }

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

